services:
  backend:
    build: ./server
    ports:
      - "4000:4000"
    environment:
      - NODE_ENV=development
    env_file: 
      - ./server/.env
    volumes:
      - ./server:/app
      - /server/node_modules

  frontend:
    build: ./client
    ports:
      - "5173:5173"
    environment:
      - NODE_ENV=development
    env_file:
      - ./client/.env
    volumes:
      - ./client:/app
      - /client/node_modules
